body {
  font-family: 'Roboto', sans-serif;
}

.container{
  padding: 52px;
}

button{
  width: 120px;
  height: 48px;
  background-color: #833AE0;
  color: white;
  border: none;
}

input{
  height: 42px;
  width: 374px;
  margin-right: 30px;
}

a{
  color: black;
}

.coin-title{
  text-decoration: none;
}

.header-link{
  font-size: 20px;
}

.admin-search-link{
  color: white;
  text-decoration: none;
}

.edit{
  text-decoration: none;
}